version: '3.4'
services:
  weaviate:
    image: semitechnologies/weaviate:1.24.1
    ports:
      - "8080:8080"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-transformers'
      ENABLE_MODULES: 'text2vec-transformers'
      TRANSFORMERS_INFERENCE_API: 'http://t2v-transformers:8080'
      LIMIT_RESOURCES: 'true'
    deploy:
      resources:
        limits:
          memory: 1G
    volumes:
      - weaviate_data:/var/lib/weaviate
    depends_on:
      - t2v-transformers

  t2v-transformers:
    image: semitechnologies/transformers-inference:distilbert-base-uncased
    environment:
      ENABLE_CUDA: '0'
      WORKERS_PER_MODEL: '1'
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  weaviate_data: