body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
}

.navbar .logo {
  font-weight: bold;
  color: #fff;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.hero-section {
  background: url('../assets/Circuits.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 36px;
}

.hero-content p {
  margin-top: 10px;
  font-size: 18px;
}

.hero-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #3366ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.features-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feature-image img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.feature-text {
  max-width: 500px;
}

.feature-text h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.feature-item {
  margin-bottom: 20px;
}

.feature-item h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
}

.feature-item p {
  color: #bbb;
}

.map-section {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.contact-section {
  padding: 50px 0;
  background: #000;
  color: #fff;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-map iframe {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  width: 400px;
  height: 300px;
}

.contact-info {
  max-width: 400px;
}

.contact-info h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.contact-item a {
  color: #4dabf7;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}


footer {
  padding: 20px;
  text-align: center;
  background: #000;
  font-size: 14px;
}
